mixin info(msg)
  .bs-callout.bs-callout-info
    h4 Info
    p= msg

mixin warning(msg)
  .bs-callout.bs-callout-warning
    h4 Warning
    p= msg

mixin error(msg)
  .bs-callout.bs-callout-danger
    h4 Error
    p= msg
